*{
	font-family: 'Montserrat', sans-serif;
}
html, body{ 
	margin: 0;
	padding: 0;


}

.EJ {

}
.header {
}
.top img {
	padding: 1px 800px 1px 20px;
	width: 10%;
	float: left;	

}
.top ul {
	margin: 0;
	list-style: none;
}
.top ul li{
	display: inline;

}
.top ul li a {
	padding: 1px 10px;
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	float: left;


}
.top{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 60px;
}
.bot {
background-image: url(banner.jpg);
height: 900px;
background-size:cover;

}
.bot h2 {
	color: white;
	padding: 200px 1px 1px;
	width: 100%;
	text-align: center;
	font-size: 50px;
	text-shadow: 2px 2px 2px #0d0d0d;
}


.text h2 {
	color: #ff3300;
	letter-spacing: 10px;

}
.bot ul {
	margin: 0;
	list-style: none;

}
}
.bot ul li{
	display: inline;

}
.bot ul li a {
	padding: 1px 300px;
	display: table-cell;
	color: #FFF;
	text-decoration: none;
	float: left;
	width: 100px;
}
.bnt {
	color: #fff;
	border-color: #fff;
	background-color: transparent;
	font-weight: 550;
	border-spacing: 50px;
	height: 60px;
	width: 200px;
	margin-left: 470px;
	font-size: 20px;
	shape-rendering: none;
}
.bnt2 {
	color: #fff;
	border-color: #fff;
	background-color: transparent;
	font-weight: 550;
	height: 60px;
	width: 200px;
	margin-left: 1px;
	font-size: 20px;
}
.material {
	display: table;
}

	.image {
	display: table-cell;
	float: left;
}

	.text {
	display: table-cell;
	float: left;
	width: 900px;
	margin-top: 60px;
	margin-left: 35px;

}
.top1 {
	float: left;
	width: 900px;
	margin-top: 60px;
	margin-left: 325px;
	letter-spacing: 10px;
	color: #ff3300;

}
.icon1 {
	float: left;
	margin-left: 50px;
	background-color: #FF6347;
	height: 240px;
	width: 250px;
	color: #fff;

}
.icon1 img{
	padding: 1px 50px 1px;
}

.icon2 img {
	padding: 1px 50px 1px;
}
.icon2 {
	float: left;
	margin-left: 50px;
	color: #fff;
	background-color: #FF6347;
	height: 240px;
	width: 250px;
}
.icon3 {
	float: left;
	background-color: #33ccff;
  	height: 240px;
	width: 250px;
    border: inline-block;
    color: #fff;
    margin-left: 50px;

}
.icon4 {
	float: left;
	background-color: #ffff66; 
	height: 240px;
	width: 250px;
	color: #fff;
	margin-left: 50px;
}
.icon4 img{
	padding: 1px 50px 1px;
}
.bot1{
	float: left;
	width: 150px;
	margin-top: 60px;
	margin-left: 550px;
	letter-spacing: 1px;
	color: #fff;
	border-color: #000;
	background-color: #000;
	border-radius: 5px;
	font-size: 20px;
}
.top2 {
	float: left;
	font-size: 18px;
	width: 900px;
	margin-top: 60px;
	margin-left: 490px;
	letter-spacing: 5px;
	color: #B22222;
}
.icon5 {
	float: left;
	margin-left: 50px;
	background-color: #B40404;
	height: 240px;
	width: 250px;
	color: #fff;

}
.icon5 img {
	padding: 1px 40px 1px;
}
.icon6 {
	float: left;
	margin-left: 50px;
	color: #fff;
	background-color: #B40431;
	height: 240px;
	width: 250px;
}
.icon6 img {
	padding: 1px 40px 1px;
}
.icon7 {
	float: left;
	background-color: #8904B1;
  	height: 240px;
	width: 250px;
    border: inline-block;
    color: #fff;
    margin-left: 50px;

}
.icon7 img {
	padding: 1px 40px 1px;
}
.icon8 {
	float: left;
	background-color: #B40431; 
	height: 240px;
	width: 250px;
	color: #fff;
	margin-left: 50px;
	
}
.icon8 img {
	padding: 1px 40px 1px;
}
.bot2{
	float: left;
	width: 150px;
	margin-top: 60px;
	margin-left: 550px;
	letter-spacing: 1px;
	color: #fff;
	border-color: #000;
	background-color: #000;
	border-radius: 5px;
	font-size: 20px;
}

#divisao {
	width: 100%;
	height: 2px;
	background-color: #000;
	margin-top: 15px;
}
#divisao2 {
	width: 100%;
	height: 2px;
	background-color: #000;
	margin-top: 474px;
}